.customSelectInput {
  display: flex;
  align-items: center;
  border: 1px solid #e3ebef;
  border-radius: 4px;
  padding: 10px;
  width: 440px;
  height: 50px;
  background-color: #f6f7f8;
  position: relative;
}

.customSelectInput input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  background-color: #f6f7f8;
}

.selectBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 150px;
  border-left: 1px solid #e3ebef;
  height: 100%;
}

.selectBox span {
  display: block;
  font-size: 16px;
}

.optionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #f6f7f8;
  border: 1px solid #e3ebef;
  border-radius: 4px;
  display: none;
  flex-direction: column;
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.optionsContainer.show {
  display: flex;
}

.option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.option:hover {
  background: #f0f0f0;
}

.option span {
  margin-right: 10px;
}

.imgCryptocurrency {
  margin-left: 34px;
}

.ticker {
  margin-left: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
  display: inline-block;
  vertical-align: middle;
}

.tickerOption {
  margin-left: 12px;
}

.wrapperCryptocurrency {
  display: flex;
}

.nameCryptocurrency {
  color: #80a2b6;
}
